# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Build / cache
*.egg-info/
dist/
build/

# Node (if frontend exists in same repo)
node_modules/
